$size: 100vw;
html {
  overscroll-behavior: none;
}
body {
  color: white;
  margin: 0px;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

p {
  font-weight: 200;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;//152vh
  background: linear-gradient(to bottom, #719202 0%, #9c1220 100%);
  opacity: 0.8;
  animation: huerotator 15s infinite alternate;
}
.page {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.nav-arrow {
  width: 30px;
}
@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.btn {
  width: 100px;
  height: 50px;
  font-size: 1.5em;
  font-weight: 200;
  outline: none;
  color: #fff;
  background-color: rgba(0,0,0,0);
  border-radius: 2px;
  border: 1px #fff solid;
  -webkit-transition:all .5s;
  transition:all .5s;
  &:hover {
    background-color: rgb(155, 49, 49);
  }
}

.logo-image {
  width:25%; 
  max-width:150px;
  margin: 10px;
}
.logo-container {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.icon-image{
  width: auto;
  max-width: 300px;
  height: auto;
  max-height: 250px;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.picture-image{
  width: 100%;
  max-width: 400px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
  object-position: 0 0
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10% 0 20%;
  justify-content: center;
  align-content: space-around;
}
.profile-item-left {
  width: 30%
}
.profile-item-right {
  width: 60%;
  padding-left: 10%; 
  text-align: left;
}